body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #E8F5E9;
  color: #1B5E20;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  border-bottom: 3px solid #1B5E20;
  padding: 2rem 0;
}

fieldset:last-of-type {
  border-bottom: none;
}

input, textarea, select {
  width: 100%;
  margin: 10px 0 0 0;
  min-height: 2em;
}

input, textarea {
  background-color: #E8F5E9;
  border: 1px solid #1B5E20;
  color: #1B5E20;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input[type="file"] {
  padding: 1px 2px;
}

input[type="submit"] {
  display: block;
  width: 60%;
  min-width: 300px;
  margin: 1em auto;
  height: 2em;
  font-size : 1.1rem;
  background-color: #1B5E20;
  border-color: white;
  color: #E8F5E9;
}

a {
  color: #1B5E20;
}